/* ABOUT */

.about-title {
    margin: 30px 0px;
    color: #555;
    font-size: 25pt;
    margin-right: 10%;
    text-align: center;

}

.about-description {
    font-size: 12pt;
    margin-left: 10%;
    margin-right: 10%;
    text-indent:4em;
    text-align: justify;

}

img {
    width: 400px;
    margin-left: 5%;
}

@media (max-width:576px) {
    .sectionContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    
    }
    img {
        margin-top: 5%;
        width: 200px;
    }
    
}

@media (max-width:876px) {
    img {
        width: 200px;
    }
    
}

@media (max-width:980px) {
    img {
        width: 200px;
    }
    
}