.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.title{
    text-align: justify;
    margin-bottom: 10px;
    color: #444;
    font-size: 25pt;
}
.subtitle {
    text-align: justify;
    margin-bottom: 20px;
    color: #444;

}

.margin {
    margin-right: 50px;
}

@media screen and (max-width: 650px){
    .title  {
        font-size: x-large;
        margin-bottom: 20px;
    }
    .subtitle {
        font-size: larger;
        margin-bottom: 20px;

    }
}