* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #F8F9FA;
}
.headerContainer {
    display: flex;
    justify-content: space-around;
}
.logo {
    font-family: 'Baloo 2', cursive;
    font-weight: 800;
    color: rgba(0,0,0,.5);
    font-size: 25px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 15px;
}


.logo span {
    color: #00C2CB;
}

.btn-menu {
    font-size: 18px;
    font-weight: 800;
    font-family: 'Baloo 2', cursive;

}

.image-discord {
	width: 26px;
	opacity: 50%;
}
.image-discord:hover {
	opacity: 65%;
}
.image-github {
	width: 25px;
	opacity: 50%;
}
.image-github:hover {
	opacity: 65%;
}

.center {
	font-size: 15px;
}

@media (max-width:576px) {
    .btn-menu {
        font-size: 18px;
        font-weight: 800;
        font-family: 'Baloo 2', cursive;
    }
    .navbar {
        margin: 0;
        padding: 0;
    }
}