@import url('https://fonts.googleapis.com/css?family=Baloo+2:400,600,700&display=swap');

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  height: 4rem;
  
  
  .logo-content {
    display: flex;
    align-items: center;
  }
  img {
    width: 4rem;
  }
  h1 {
    font-size: 1.5rem;
    font-family: $font-baloo;
    font-weight: bold;

    span {
      font-family: $font-baloo;
      font-size: 1.5rem;
      color: $color-blue;

    }
  }
  i {
    color: $color-base-dark;
    transition: color 0.5s ease-in-out;
  }
  
  i.hover:hover {
    color: $color-base-hover;
  }
  .menu {
    display: flex;
    align-items: center;
    a {
      font-size: 1rem;
      font-family: $font-baloo;
      font-weight: 600;
      text-transform: uppercase;
      color: $color-base-dark;
      margin-left: .5rem;
      i:first-child {
        margin-left: .5rem;
      }
      i.hover {
        font-size: 1.5rem;
      }
    }
  }
  .logo {
    cursor: pointer;
  }
}

.aparece {
  display: none;
}


.efeito{
  list-style: none;
  padding: 10px;
  display: inline-block;
  line-height: 1em;
  margin: 0 5px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.efeito::after{
  content: '';
  display: inline-block;
  width: 0;
  height: 5%;
  position: absolute;
  top: 100%;
  left: 0;
  background: $color-blue;
  z-index: -1;
  transition: width 0.5s ease-in-out;
}

.efeito:hover::after{
  width: 100%;
}

@media only screen and (max-width: 666px) {
  .header-content {
    flex-direction: column;
    height: 10rem;
    justify-content: center;
    .menu {
      flex-direction: column;
    }
    img {
      display: none;
    }
  }
  
}