#membros-coffee {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 1000px;
  width: 100%;
  margin: 0 auto;

  padding: 3rem 0;
  img {
    width: 8rem;
    border-radius: 50%;
    
  }
  .membro-title {
    font-family: $font-baloo;
    font-size: 2rem;
    font-weight: 600;
    color: $color-base-dark;
    margin-top: 1%;
    margin-bottom: 3%;

    
  }
  
}

.area-membro {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  .membro {
    width: 100%;
    margin: 0 auto;

    margin-left: 10%;
    background: $color-white;
    padding: 1rem;

    border-radius: 1%;

    // box-shadow: 0 16px 48px rgba(32, 41, 50, 0.12);

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: box-shadow .4s;
    &:hover {
      box-shadow:0 10px 15px rgba(25,25,25,0.1);
    }
    .membro-info {
      font-family: $font-baloo;
      text-align: center;
      h2 {
        font-size: 1.5rem;
        font-weight: 500;
        color: $color-base-dark;

        margin: 1rem 0;

      }
      p {
        text-align: start;
        font-size: 1rem;
        color: $color-base;
        line-height: 1.5rem;
      }
    }

  }
  .membro:first-child {
    margin-left: 0;
  }
  

}

.linha {
  width: 40px;
  height: 3.5px;
  border-radius: 5px;
  background: #603935;
  margin: 0 auto;
  margin-top: 1rem;
}

@media only screen and (max-width: 666px) {
  #membros-coffee {
    .membro-title {
      margin-top: 10%;
      margin-bottom: 10%;
    }
  }
  .area-membro {
    flex-direction: column;
    align-items: center;
    .membro {
      width: 18rem;
      margin: 0 auto;
      margin: 0;
      margin-bottom: 3rem;
      .membro-info {
        h2 {
          margin: 0;
          margin-bottom: 1rem;
        }
        p {
          margin: 2% 5% 5% 5%;
        }
      }
    }
  }

  
  
}