#sobre-coffee {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  height: 20rem;
  img {
    width: 300px;
  }
  .texto-coffee {
    font-family: $font-baloo;
    color: $color-base;
    margin-left: 5%;
    .titulo-coffee {
    color: $color-base-dark;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    
  }
  .descricao-coffee {
    line-height: 1.5rem;
    letter-spacing: .5px;
    font-size: 1.2rem;
    .efeito{
      list-style: none;
        padding: 10px 0;
        display: inline-block;
        line-height: 1em;
        margin: 0;
        cursor: pointer;
        position: relative;
        z-index: 1;
      }
      
      .efeito::after{
        content: '';
        display: inline-block;
        width: 0;
        height: 5%;
        position: absolute;
        top: 80%;
        left: 0;
        background: $color-blue;
        z-index: -1;
        transition: width 0.5s ease-in-out;
      }
      
      .efeito:hover::after{
        width: 100%;
      }

      a {
        color: $color-base-dark;
      }
    }
  }
}

@media only screen and (max-width: 666px) {
  #sobre-coffee {
    flex-direction: column;
    .descricao-coffee{
      margin: 2% 5% 5% 5%
    }
    img {
      display: none;
    }
    .texto-coffee {
      text-align: center;
      margin-left: 0;
      .titulo-coffee {
        margin-top: 30px;
      }
    }
  }
  
  
}