// EXAMPLE settings
// São as variáveis globais que vão definir cores, espaçamentos e etc.
$color-base: #7C7C7C;
$color-base-dark: #444;
$color-base-hover: #222;
$color-blue: #45CEE3;
$color-white: #F8F9FB;
$color-inicio: rgb(219, 220, 221);

$font-baloo: 'Baloo 2', cursive;